.begin{
	color:#9457EB;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align:center;
	text-decoration: underline;
}
		.text1{
			color:#9457EB;
			font-size:15px;
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			padding:20px;
			border:3px solid#9457EB;
			margin:0px 0px 20px 0px;
		} 
			.text3{
				color:#9457EB ;
				font-size:15px;
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				padding:20px;
				border:3px solid#9457EB;
				margin:0px 0px 20px 0px;
				
				}
				.text2{
				color: #9457EB;
				font-size:15px;
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				padding:20px;
				border:3px solid#9457EB;
				margin:0px 0px 20px 0px;
			
				}
				body{
					background-image: url('https://get.wallhere.com/photo/anime-manga-fan-art-anime-girls-illustration-minimalism-monochrome-dark-background-underwear-pantsu-shot-ecchi-Kuen-1979583.jpg');
					repeat:no-repeat;
					background-size:100%;
					background-attachment: fixed;
					background-color:#3B2F2F ;
					}	
					.BigBegin{
						color: #9457EB;
						text-align: center;
						border:3px solid#9457EB;
						margin:0px 500px -2px 500px;
					}
						.senpai{
							color: #12D3E1;
							font-style: italic;
							font-family: 'Times New Roman', Times, serif;
						}
							